/*-------------------------
#General settings
---------------------------*/

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Niramit', sans-serif;
    color: #ffcc00;
}

p {
    font-size: 13px;
}

h2 { font-size: 32px; }
h3 { font-size: 22px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }


.section-box {
    padding: 120px;
}

.section-top {
    margin-bottom: 30px;
} 


.section-top hr {
    display: inline-block;
    height: 2px;
    width: 200px;
    background-color: #ffcc00;
    border: none;
}
/*-------------------------
#Navigation
---------------------------*/

.navbar-brand {
    transition: all .5s;
}


.navbar-brand:hover {
    color: #ffcc00 !important;
}

nav.navbar-container {
    padding: 20px 0 20px 0;
}

#mainNav {
    background-color: transparent;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 14px;
    font-weight: 400;
    padding: 12px 10px;
    letter-spacing: 1px;
    color: white;
    transition: all .5s;
}

#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #ffcc00;
}


nav.shrink {
    padding: 0;
    background-color: #ffcc00 !important;
}

#mainNav .navbar-toggler{
    font-size: 12px;
    right: 0;
    padding: 13x;
    text-transform: uppercase;
    color:white;
    background-color: #ffcc00;
    border: 0;
}

nav.shrink .navbar-nav .nav-item .nav-link:hover,
nav.shrink .navbar-brand:hover {
    color: black!important;
}

.navbar-brand.shrink, 
.navbar-container.shrink,
.navbar.fixed-top.shrink,
navbar-brand,
.navbar-container {
    transition: .8s;
}



/*-------------------------
#Hero Section
---------------------------*/


#hero {
    text-align: center;
    color: white;
    background: linear-gradient( rgba(20,20,20, .6), rgba(20,20,20, .6)),
    url("../img/BG.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

#hero .container {
    display: table;
    height: 100vh;
}

#hero .intro-text {
    display: table-cell;
    vertical-align: middle;
}

#hero .intro-heading {
    font-size: 50px;
    line-height: 50px;
    margin: 25px;
    font-weight: 200;
}

#hero .intro-heading span {
    color: #ffcc00;
    font-size: 62px;
}

.btn-main {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    margin: 10px;
    border: 2px solid #fff;
    color: #ffcc00;
    transition: all .5s;
}

.btn-main:hover {
    background: #ffcc00;
    border: 2px solid #ffcc00;
    color: #fff;
}

/*-------------------------
#Who we are Section
---------------------------*/

#whoweare {
    background-color: #fff;
}

.whoweare-item {
    padding: 60px 30px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
}

.whoweare-item i {
    font-size: 42px;
    margin-bottom: 10px;
    color: #ffcc00;
}

.whoweare-item hr {
    width: 175px;
    height: 2px;
    background-color: #ffcc00;
    border: none;
    margin: 0 auto;
}

.whoweare-item p {
    margin-top: 20px;
}

.whoweare-item:hover {
    background-color: #ffcc00;
    cursor: pointer;
}


.whoweare-item:hover i,
.whoweare-item:hover h3,
.whoweare-item:hover p {
    color:#fff;
}

.whoweare-item:hover hr {
    background-color: #fff;
    width: 200px;
}

.whoweare-item:hover i {
    transform: translateY(-20px);
}

.whoweare-item,
.whoweare-item i,
.whoweare-item hr {
    transition: all .5s ease-in-out;
}

/*-------------------------
#Statement Section
---------------------------*/

#statement {
    background: linear-gradient( rgba(20,20,20, .6), rgba(20,20,20, .6)),
    url("../img/Project3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#statement h4 {
    color: #fff;
}

/*-------------------------
#Latest Projects Section
---------------------------*/

#latestprojects {
    background-color: #fff;
}

#latestprojects .project-text {
    padding: 30px;
}

#latestprojects .project-text hr {
    border-color: #fff;
    border-width: 2px;
    width: 25%;
    transition: all .5s;
} 

#latestprojects .project-text:hover hr {
    width: 50%;
}

.bg-orange {
    background-color: #ffcc00;
}

.btn-white {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 50px;
    border: 1px solid #fff;
    color: #fff;
    transition: all .5s;
}

.btn-white:hover {
    background: #fff;
    color: #ffcc00;
    border: 1px solid #fff;
}


/*-------------------------
#Footer Section
---------------------------*/

footer {
    background-color: #000;
    padding: 20px 0 10px;
    font-size: 11px;
    
}

footer p {
    margin: 0;
}

/*-------------------------
#Inside Hero About Section
---------------------------*/

.page-image {
    display: table;
    width:100%;
}

.page-image-about {
    background: linear-gradient( rgba(20,20,20, .6), rgba(20,20,20, .6)),
    url("../img/About.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
    
.page-title {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
    font-weight: 200;
}



/*-------------------------
#About Us Section
---------------------------*/


#aboutus {
    background-color: 
}

#aboutus .project-text {
    padding: 30px;
}



/*-------------------------
#Team Section
---------------------------*/

.team-member {
    margin-bottom: 50px;
    text-align: center
}

.team-member img {
    width: 300px;
    height: 300px;
    border: 2px solid #ffcc00;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a{
    font-size: 20px;
    line-height: 50px;
    display: block;
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 100%;
    outline: none;
    background-color: #212529;
    transition: all .5s;
}


ul.social-buttons li a:hover {
    background-color: #ffcc00;
}

/*-------------------------
#Portolio Section
---------------------------*/


.page-image-portfolio {
    background: linear-gradient( rgba(20,20,20, .6), rgba(20,20,20, .6)),
    url("../img/Portfolio.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


.portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

.portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
}

.portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(255,153,0, 0.8);
    transition: all .5s;
}

.portfolio-hover:hover {
    opacity: 1;
}

.portfolio-hover-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: white;
}


.portfolio-hover-content i {
    margin-top: -12px;
}

.portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
}


.portfolio-caption h4 {
    margin: 0;
}

.portfolio-caption p {
    font-size: 16px;
    margin: 0;
}


/*-------------------------
#Contact Section
---------------------------*/


.page-image-contact {
    background: linear-gradient( rgba(20,20,20, .6), rgba(20,20,20, .6)),
    url("../img/contact.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.form-group {
    margin-bottom: 25px;
    
}

.form-group input,
.form-group textarea {
    padding: 20px;
}

.form-group input.form-control {
    height: auto;
}

.form-group textarea.form-control {
    height: 248px;
}


.form-control:focus {
    border-color: #ffcc00;
    box-shadow: none;
}

.btn-contact {
    background-color: #ffcc00;
    color: #fff;
}

.btn-contact:hover {
    background-color: #fff;
    color: #ffcc00;
}























